@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/Login.css" />
    </head>

    <body>
        <div class="form">
            <h2 class="title">Iniciar sesión</h2>

            <form asp-controller="Login" asp-action="IniciarSesion" method="post">
                <div class="form-group">
                    <label for="Usuario">Usuario</label>
                    <input type="text" id="Usuario" name="Usuario" required />
                </div>
                <div class="form-group">
                    <label for="Clave">Contraseña</label>
                    <input type="password" id="Clave" name="Clave" required />
                </div>
                <button type="submit" class="btn">Entrar</button>
            </form>
            <p style="color:red;">@ViewBag.Mensaje</p>
        </div>
        <div class="image">
            <img src="~/img/login-image.jpg" alt="Imagen de login" />
        </div>
    </body>
</html>
